/* Estilos generales */
body {
  font-family: 'sarabun';
  background-color: #000016;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
header {
  background-color: #183850;
  color: #ffffff;
  padding: 20px 0;
}

.logotipo img {
  width: 200px; /* Ajusta el tamaño del logo para dispositivos móviles */
  height: auto; /* Hace que la altura sea automática para mantener la proporción */
}

.logotipo {
  text-align: center; /* Centra el logo */
}

/* Estilos para el cuerpo principal */
main {
  padding: 20px;
}

.card {
  background-color: #122a42;
  border: 1px solid #0c1c33;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Añade espacio entre las tarjetas */
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  color: #ffffff;
}

.card-text {
  font-size: 1rem;
  color: #ffffff;
}

/* Estilos para los botones */
.btn-primary {
  background-color: #183850;
  border-color: #183850;
  width: 100%; /* Los botones ocupan todo el ancho */
}

/* Estilos para el pie de página */
footer {
  background-color: #000016;
  color: #ffffff;
  text-align: center;
  padding: 20px 0; /* Añade espacio en el pie de página */
}

/* Agrega transiciones suaves a las tarjetas */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Aplica una sombra al pasar el ratón sobre las tarjetas */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Establece un fondo semi-transparente en las tarjetas */
.card-body {
  background-color: #000016; /* Se corrigió el color */
}

/* Establece la opacidad de los títulos de las tarjetas */
.card-title {
  opacity: 0.8;
}

/* Añade una transición suave al pasar el ratón sobre los botones */
.btn-primary:hover {
  background-color: #122a42;
  border-color: #122a42;
}

/* Define una animación para los botones */
.btn-primary {
  transition: background-color 0.3s ease;
}

/* Añade una sombra suave al contenedor principal de la página */
.container {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
